@model IEnumerable<Diamonds.Models.Entities.News>
@{
    ViewBag.Title = "News";
}

@Html.Partial("_NavigationBar", new Diamonds.Models.NavigationModel("News", "Lista", "MODERATOR"))

<fieldset>
    <legend>Administracja galeriami</legend>

    <table class="purple admin">
        <tr>
            <th>zdjęcie</th>
            <th>PL</th>
            <th>EN</th>
            <th>dane</th>
        </tr>

        @foreach (var item in Model)
        {
        <tr>
            <td rowspan="2">
                @if (item.Photo != null)
                {
                <a href="@Url.Action("Edit", new { id = item.id })">
                    <img src="@Url.Action("Photo", "Gallery", new { id = item.photoId, size = "small" })" style="width: 100px;" />
                </a>
                }
                @Html.ActionLink("Edytuj", "Edit", new { id = item.id })
            </td>
            <td>@item.titlePl</td>
            <td>@item.titleEn</td>
            <td rowspan="2">
                Data dodania: <b>@item.addDate.ToShortDateString()</b><br />
                Użytkownik: <b>@item.User.name</b><br />
                Opublikowany: <b>@item.isPublished</b>
            </td>
        </tr>
        <tr>
            <td><div class="admin-text">@Html.Raw(item.textPl)</div></td>
            <td><div class="admin-text">@Html.Raw(item.textEn)</div></td>
        </tr>
        }

    </table>
</fieldset>