@model Diamonds.Models.Entities.News
@{
    ViewBag.Title = Model.title;
}

@section Scripts {
<script type="text/javascript">
    $(document).ready(function () {
        $(".fancybox").fancybox({ type: 'image' });
    });
</script>
}

<section class="page content-wrapper">
    <div>
        <h5>@Model.title
            @if (User.IsInRole("MODERATOR"))
            {
            <span><a href="@Url.Action("Edit", new { id = Model.id })">@ViewBag.Lang["admin-edycja"]</a></span>
            }
        </h5>
        @if (Model.Photo != null)
        {
        <a href="@Url.Action("Photo", "Gallery", new { id = Model.photoId})" class="fancybox">
            <img src="@Url.Action("Photo", "Gallery", new { id = Model.photoId, size = "small" })" />
        </a>
        }
        <div>@Html.Raw(Model.text)</div>
        <div class="page-footer" style="text-align: right;">
            <div>@Model.addDate.ToString("d MMMM yy HH:mm")</div>
            <div>@Model.User.name</div>
        </div>
    </div>
</section>