@model IEnumerable<Diamonds.Models.Entities.News>
@{
    ViewBag.Title = "Aktualności";
}

@section Scripts {
<script type="text/javascript">
    $(document).ready(function () {
        $("img").fancybox({ type: 'image' });
    });
</script>
}

<section class="page content-wrapper">
    @foreach (var news in Model)
    {
    <div>
        <h5>@news.title
            @if (User.IsInRole("MODERATOR"))
            {
            <span>@Html.ActionLink("Edit", "Edit", new { id = news.id })</span>
            }
        </h5>
        @if (news.Photo != null)
        {
        <a href="@Url.Action("Photo", "Gallery", new { id = news.photoId})">
            <img src="@Url.Action("Photo", "Gallery", new { id = news.photoId, size = "small" }) />
        </a>
        }
        <div>@Html.Raw(news.text)</div>
        <div class="page-footer" style="text-align: right;">
            <div>@news.addDate.ToString("d MMMM yy HH:mm")</div>
            <div>@news.User.name</div>
        </div>
    </div>
    }
</section>