@model IEnumerable<Diamonds.Models.Entities.Gallery>
@{
    ViewBag.Title = "Galerie zdjęć";
}

@section scripts{
}

@Html.Partial("_NavigationBar", new Diamonds.Models.NavigationModel("Gallery", "Lista", "MODERATOR"))

<fieldset>
    <legend>Administracja galeriami</legend>

    <table class="purple">
        <tr>
            <th>zdjęcie</th>
            <th>nazwa</th>
            <th>miejsce</th>
            <th>początek</th>
            <th>aktywny</th>
            <th></th>
        </tr>
        @foreach (var gallery in Model)
        {
        <tr>
            <td>
            
            <a href="@Url.Action("PhotosAdmin", new { id = gallery.id })">
                @if (gallery.Photo != null)
                {
                <img src="@Url.Action("Photo", new { id = gallery.photoId, size = "small" })" style="width: 150px;" /> 
                }
                else { <text>Pokaż zdjęcia</text> }
            </a>
            </td>
            <td>@gallery.namePl<br />@gallery.nameEn</td>
            <td>@gallery.placePl<br />@gallery.placeEn</td>
            <td>
                @gallery.startDate.ToShortDateString()<br />
                @(gallery.endDate != null ? ((DateTime)gallery.endDate).ToShortDateString() : "")
            </td>
            <td>@Html.CheckBox("isPublished", gallery.isPublished, new { disabled = "disabled" })</td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = gallery.id })
                @*@Html.ActionLink("Pokaż zdjęcia", "PhotosAdmin", new { id = gallery.id })
                @Html.ActionLink("Dodaj zdjęcia", "AddPhotos", new { id = gallery.id})*@
            </td>
        </tr>
        }

    </table>
</fieldset>