@model IEnumerable<Diamonds.Models.Entities.Gallery>
@{
    ViewBag.Title = "Galerie zdjęć";
}

@section scripts {
<link href="@Url.Content("~/Content/pages/page-gallery.css")" rel="stylesheet" />
<script type="text/javascript">
    $(document).ready(function () {
    });
</script>
}

@foreach (var galleryYear in Model.Select(g => g.startDate.Year).Distinct())
{
<h5>Sezon @galleryYear</h5>
<ul class="gl-grid">
    @foreach (var gallery in Model.Where(g => g.startDate.Year == galleryYear))
    {
    <li>
        <div class="gl-item" style="background-image: url(@Url.Action("Photo", new { id = gallery.photoId, size = "small" }))">
            <div class="gl-info-wrap">
                <div class="gl-info">
                    <div class="gl-info-front" style="background-image: url(@Url.Action("Photo", new { id = gallery.photoId, size = "small" }))"></div>
                    <div class="gl-info-back">
                        <h3>@gallery.name</h3>
                        <p>@gallery.place</p>
                        <p>@gallery.startDate.ToString("d MMMM yyyy")</p>
                    </div>
                </div>
            </div>
        </div>
    </li>
    }
</ul>
}