@model IEnumerable<Diamonds.Models.Entities.Gallery>
@{
    ViewBag.Title = "Galerie zdjęć";
}

@section scripts{
}

<ul id="site-nav">
    <li>@Html.ActionLink("Galeria", "Index", "Gallery")
    </li>
</ul>


@foreach (var gallery in Model)
{
<div id="gallery">
    @if (gallery.Cover != null)
    {
    <img src="@Url.Action("Photo", new { id = gallery.coverId, size = "small" })" />
    }
    <div>
        @gallery.name<br />
        @gallery.place<br />
        @gallery.startDate.ToShortDateString()
    </div>
</div>
}