@model Diamonds.Models.Entities.Gallery
@{
    ViewBag.Title = "PhotosAdmin";
}


@Html.Partial("_NavigationBar", new Diamonds.Models.NavigationModel("Gallery", "Lista Zdjęć", "MODERATOR"))

<fieldset>
    <legend>Administracja zdjęciami</legend>

    <table class="purple">
        <tr>
            <th>zdjęcie</th>
            <th>opis</th>
            <th></th>
        </tr>
        @foreach (var photo in Model.Photos)
        {
        <tr>
            <td>
            @if (photo.hasJpg)
            {
            <img src="@Url.Action("Photo", new { id = photo.id, size = "small" })" />
            }
            </td>
            <td>@photo.descriptionPl<br />@photo.descriptionEn</td>
            <td>
                @Html.ActionLink("Edit", "PhotoEdit", new { id = photo.id })
            </td>
        </tr>
        }

    </table>
</fieldset>