@model ICollection<Diamonds.Models.Entities.Photo>

@{
    ViewBag.Title = "Photos";
}

@section Scripts {
<script type="text/javascript">
    $(document).ready(function () {
        $(".fancybox").fancybox({ type: 'image' });
    });
</script>
}

<h5>
    @Model.First().Gallery.name - 
    @Model.First().Gallery.place - 
    @Model.First().Gallery.startDate.ToString("d MMMM yyyy")
</h5>
@foreach (var photo in Model)
{
<div id="gallery">
    <a href="@Url.Action("Photo", "Gallery", new { id = photo.id })" class="fancybox">
        <img src="@Url.Action("Photo", "Gallery", new { id = photo.id, size = "small" })" />
    </a>
</div>

}