@model List<Diamonds.Models.Entities.Photo>
@{
    ViewBag.Title = "Zdjęcia";
}

@section Scripts {
@Scripts.Render("~/bundles/jqueryui")
@Styles.Render("~/Content/themes/base/css")
<script src="~/Scripts/noty/jquery.noty.js"></script>
    <script src="~/Scripts/noty/themes/default.js"></script>
    <script src="~/Scripts/noty/layouts/topRight.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $(".fancybox").fancybox({ type: 'image' });
        $(".order").click(function () {
            $(".sortable").sortable({
                update: function (e, ui) {
                    $(this).find("li").each(function () {
                        $(this).find('[name$=".no"]').val($(this).index() + 1);
                    });
                }
            });
            $(".sortable").disableSelection();
            $(".save-order").show();
            $(".cancel-order").show();
            $(".order").hide();
            $(".edit").hide();
            $(".delete").hide();
        });
        $(".cancel-order").click(function () {
            $(".sortable").sortable("destroy");
            $(".save-order").hide();
            $(".cancel-order").hide();
            $(".order").show();
            $(".edit").show();
            $(".delete").show();
        });
        $(".delete").click(function (e) {
            e.preventDefault();
            if (!confirm("Na pewno chcesz usunąć zdjęcie?")) {
                return false;
            }
            link = $(this).attr("href");
            elem = $(this).closest("li");
            $.post(link,
                function (data) {
                    if (data == true) {
                        elem.hide();
                        noty({ text: "Usunięto", type: "success" });
                    }
                }
            );
        });
    });
</script>
}

@Html.Partial("_NavigationBar", new Diamonds.Models.NavigationModel("Gallery", "Lista Zdjęć", "MODERATOR", "AddPhotos/" + Html.ViewContext.RouteData.Values["id"].ToString()))

@using (Html.BeginForm()) 
{
var i = 0;
<fieldset>
    <legend>Administracja zdjęciami</legend>
    <input type="button" class="order" value="Edytuj kolejność"/>
    <input type="submit" class="save-order" value="Zapisz kolejność" style="display: none;" />
    <input type="button" class="cancel-order" value="Anuluj" style="display: none;" />
    <ol class="sortable">
    @foreach (var photo in Model)
    {
        <li style="display: inline-block;">
            <div style="display: inline-block; padding: 6px;">
                @if (photo.hasThumb)
                {
                <a href="@Url.Action("Photo", new { id = photo.id })" title="@photo.descriptionPl @photo.descriptionEn" class="fancybox" rel="group" style="display:block;">
                    <img src="@Url.Action("Photo", new { id = photo.id, size = "small" })" style="width:150px;" />
                </a>
                }
                <a href="@Url.Action("PhotoEdit", new { id = photo.id })" class="edit">@ViewBag.Lang["admin-edycja"]</a>
                <a href="@Url.Action("PhotoDelete", new { id = photo.id})" class="delete">@ViewBag.Lang["admin-usun"]</a>
                @Html.Hidden("[" + i + "].id", photo.id)
                @Html.Hidden("[" + i++ + "].no", photo.no)
            </div>
        </li>
    }
    </ol>

    <input class="save-order" type="submit" value="Zapisz kolejność" style="display:none;" />
    <input type="button" class="cancel-order" value="Anuluj" style="display: none;" />
</fieldset>
}