@model IEnumerable<Diamonds.Models.Entities.Photo>
@{
    Layout = "~/Views/Shared/_Window.cshtml";
    ViewBag.Title = "Select photo";
}

@section Scripts {
@Scripts.Render("~/bundles/fancybox")
@*@Styles.Render("~/Content/fancybox")*@
<link href="~/Content/jquery.fancybox.css" rel="stylesheet" />
<script type="text/javascript">
    $(document).ready(function () {
        $("#fancybox-iframe-new-photo").fancybox({
            type: 'iframe', width: 350, height: 150,
            fitToView: false, autoSize: false,
            afterClose: function () {
                location.reload(true);
            }
        });
        $("#fancybox-iframe-select").click(function () {
            $("#photoId").val($(".selected").data("id"));
            parent.$.fancybox.close();
        });
        $("#gallery a").click(function () {
            $("a.selected").removeClass("selected");
            $(this).addClass("selected");
        });
    });
</script>
}

<div id="window-fancybox-nav">
    <a id="fancybox-iframe-new-photo" href="@Url.Action("AddPhotos", "Gallery", new { id = Model.First().galleryId, multi = false })">Dodaj zdjęcie</a>
    <a id="fancybox-iframe-select" href="#">Wybierz</a>
</div>
<form>
    @Html.Hidden("photoId")
</form>
<div id="gallery" class="fancybox-iframe-photos">
@foreach (var photo in Model)
{
    <a href="#" data-id="@photo.id">
        <img src="@Url.Action("Photo", "Gallery", new { id = photo.id, size = "small" })" style="width: 150px;"/>
    </a>
}
</div>