@model Diamonds.Models.HomeModel
@{
    ViewBag.Title = "Strona główna";
}

@section scripts {
@Styles.Render("~/Content/themes/base/css")
@Scripts.Render("~/bundles/jqueryui")
@Scripts.Render("~/bundles/fancybox")
@Styles.Render("~/Content/fancybox")
<script type="text/javascript">
    $(document).ready(function () {
        $(".featured div a").hover(function () {
        });

        var dates = @Html.Raw(Json.Encode(Model.EventClones))

        $(".calendar div:first-of-type").datepicker({
            beforeShowDay: daysToMark
        });

        if (cdReadCookie("diamonds-lang") == "en") {
            $.datepicker.regional[''];
        };

        function daysToMark(date) {
            for (var i = 0; i < dates.length; i++) {
                var d = new Date(parseInt(dates[i].startDate.substr(6)));
                if (d.toDateString() == date.toDateString()) {
                    return [true, 'mark-training', ""];
                }
                if (dates[i].repetitive && d.getDay() == date.getDay())
                    return [true, 'mark-training', ""];
            }
            return [true, '', ""];
        }

        $(".list-of-news a").hover(function () {
            $(".fancybox-list-item").hide();
            $(this).parent().find("a").css("text-decoration", "none");
            var s = $(this).data("newsid");
            $("#" + s).show();
            $(this).css("text-decoration", "underline");
        });
        $(".fancybox").fancybox({ type: 'image' });
        $(".fancybox-list-item").fancybox({ type: 'image' });
    });
</script>
}

<article class="featured content-wrapper">
    <div>
        <h5>@Html.ActionLink(Model.FeaturedNews.title, "Details", "News", new { id = Model.FeaturedNews.id }, null) </h5>
        @if (Model.FeaturedNews.Photo != null)
        {
        <a href="@Url.Action("Photo", "Gallery", new { id = Model.FeaturedNews.photoId })" class="fancybox">
            <img src="@Url.Action("Photo", "Gallery", new { id = Model.FeaturedNews.photoId, size = "small" })" />
        </a>
        }
        <div>@Html.Raw(Model.FeaturedNews.text.Length > 500 ? Model.FeaturedNews.text.Substring(0, 500) : Model.FeaturedNews.text)</div>
    </div>
    <div>
        <h5><a href="@Url.Action("Index", "News")">@ViewBag.Lang["home-aktualnosci"]</a></h5>
        @foreach (var item in Model.News)
        {
        <a href="@Url.Action("Photo", "Gallery", new { id = item.photoId })" id="@item.id" class="fancybox-list-item">
            <img src="@Url.Action("Photo", "Gallery", new { id = item.photoId, size = "small" })" />
        </a>
        }
        <div class="list-of-news">
            @foreach (var item in Model.News)
            {
            @Html.ActionLink(item.title, "Details", "News", new { id = item.id}, new { data_newsid = item.id })
            }
        </div>
    </div>
</article>

<aside class="widget">
    <div class="calendar">
        <div></div>    
        @foreach (var item in Model.EventClones.Where(e => e.startDate > DateTime.Today || (e.repetitive && (e.repetitiveEndDate == null || e.repetitiveEndDate > DateTime.Today))))
        {
            if (item.repetitive)
            {
            <div>@item.name - @System.Globalization.DateTimeFormatInfo.CurrentInfo.GetDayName(item.startDate.DayOfWeek) @item.startDate.ToString("HH:mm") - @item.endDate.ToString("HH:mm")</div>
            }
            else
            {
            <div>@item.name @item.startDate.ToString("d MMMM HH:mm") - @item.endDate.ToString("HH:mm")</div>
            }
        }
    </div>
    <div>
        <h5><a href="@Url.Action("Index", "Result")">@ViewBag.Lang["home-results"] @DateTime.Now.Year</a></h5>
        <div>
            <table>
                <tr><td>@ViewBag.Lang["home-meczy"]:</td><td>@(Model.Team.won(DateTime.Now.Year) + Model.Team.lost(DateTime.Now.Year))</td></tr>
                <tr><td>@ViewBag.Lang["home-wygranych"]:</td><td>@Model.Team.won(DateTime.Now.Year)</td></tr>
                <tr><td>@ViewBag.Lang["home-przegranych"]:</td><td>@Model.Team.lost(DateTime.Now.Year)</td></tr>
            </table>
        </div>
    </div>
    <div>
        <h5>@ViewBag.Lang["home-1procent"]</h5>
        <p>Oddaj jeden procent</p>
    </div>
    <div>
        <h5>Diamonds na Facebooku</h5>
        <div></div>
    </div>
</aside>

<article class="widget-gallery">
    <article class="widget">
        <div>
            <h5>@ViewBag.Lang["home-ostatnie-galerie"]</h5>
            @foreach (var gallery in Model.Galleries)
            {
            <a href="@Url.Action("Photos", "Gallery", new { id = gallery.id })"><img src="@Url.Action("Photo", "Gallery", new { id = gallery.coverId, size = "small" })" /></a>
            }
        </div>
    </article>
    <aside class="widget">
        <div>
            <h5>@ViewBag.Lang["home-losowe-zdjecie"]</h5>
            <a href="@Url.Action("Photo", "Gallery", new { id = Model.FeaturedPhoto.id })" class="fancybox">
                <img src="@Url.Action("Photo", "Gallery", new { id = Model.FeaturedPhoto.id, size = "small" })" />
            </a>
        </div>
    </aside>
</article>