@model Diamonds.Models.HomeModel
@{
    ViewBag.Title = "Strona główna";
}

@section scripts {
@Styles.Render("~/Content/themes/base/css")
@Scripts.Render("~/bundles/jqueryui")
<script type="text/javascript">
    $(document).ready(function () {
        $(".featured div a").hover(function () {
        });

        var dates = @Html.Raw(Json.Encode(Model.EventClones))

        $(".calendar div:first-of-type").datepicker({
            beforeShowDay: daysToMark
        });

        if (cdReadCookie("diamonds-lang") == "en") {
            $.datepicker.regional[''];
        };

        function daysToMark(date) {
            for (var i = 0; i < dates.length; i++) {
                var d = new Date(parseInt(dates[i].startDate.substr(6)));
                if (d.toDateString() == date.toDateString()) {
                    return [true, 'mark-training', ""];
                }
                if (dates[i].repetitive && d.getDay() == date.getDay())
                    return [true, 'mark-training', ""];
            }
            return [true, '', ""];
        }

        $(".list-of-news a").hover(function () {
            $(".fancybox-list-item").hide();
            $(this).parent().find("a").css("text-decoration", "none");
            var s = $(this).data("newsid");
            $("#" + s).show();
            $(this).css("text-decoration", "underline");
        });
        $(".fancybox").fancybox({ type: 'image' });
        $(".fancybox-list-item").fancybox({ type: 'image' });
        $(".sponsor ul").bxSlider({ pager: false, controls: false, randomStart: true });
    });
</script>
}
<div id="fb-root"></div>
<script>(function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/pl_PL/all.js#xfbml=1&appId=400105420015788";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<article class="featured content-wrapper">
    <div>
        <h5>@Html.ActionLink(Model.FeaturedNews.title, "Details", "News", new { id = Model.FeaturedNews.id }, null)</h5>
        @if (Model.FeaturedNews.Photo != null)
        {
        <a href="@Url.Action("Photo", "Gallery", new { id = Model.FeaturedNews.photoId })" class="fancybox">
            <img src="@Url.Action("Photo", "Gallery", new { id = Model.FeaturedNews.photoId, size = "small" })" />
        </a>
        }
        <div @(Model.FeaturedNews.Photo == null ? "class=notphoto":"")>
            @if (Model.FeaturedNews.text.Length > 500)
            {
                @Html.Raw(Model.FeaturedNews.text.Substring(0, Model.FeaturedNews.text.LastIndexOf(" ", 500)))@:...
                <a href="@Url.Action("Details", "News", new { id = Model.FeaturedNews.id })" style="float:right">@ViewBag.Lang["home-wiecej"]</a>
            }
            else
            {
                @Html.Raw(Model.FeaturedNews.text)
            }
        </div>
    </div>
    <div>
        <h5><a href="@Url.Action("Index", "News")">@ViewBag.Lang["home-aktualnosci"]</a></h5>
        @foreach (var item in Model.News)
        {
        if (item.Photo != null)
        {
        <a href="@Url.Action("Photo", "Gallery", new { id = item.photoId })" id="@item.id" class="fancybox-list-item">
            <img src="@Url.Action("Photo", "Gallery", new { id = item.photoId, size = "small" })" />
        </a>
        }
        else
        {
        <a id="@item.id" class="fancybox-list-item"><img src="@Url.Content("~/Content/images/player.png")" /></a>
        }
        }
        <div class="list-of-news">
            @foreach (var item in Model.News)
            {
            <a href="@Url.Action("Details", "News", new { id = item.id})" data-newsid="@item.id">@item.title - <i style="font-size:8pt;">@item.addDate.ToString("d MMMM")</i></a>
            }
        </div>
    </div>
</article>

<aside class="widget">
    <div class="calendar">
        <div></div>    
        @foreach (var item in Model.EventClones.Where(e => e.startDate > DateTime.Today || (e.repetitive && (e.repetitiveEndDate == null || e.repetitiveEndDate > DateTime.Today))))
        {
            if (item.repetitive)
            {
            <div>
                <b>@item.name</b> - @System.Globalization.DateTimeFormatInfo.CurrentInfo.GetDayName(item.startDate.DayOfWeek) @item.startDate.ToString("HH:mm") - @item.endDate.ToString("HH:mm")
                @item.place
            </div>
            }
            else
            {
            <div>
                <b>@item.name</b> - @item.startDate.ToString("d MMMM HH:mm") - @item.endDate.ToString("HH:mm")<br />
                @item.place
            </div>
            }
        }
    </div>
    <div>
        <h5><a href="@Url.Action("Index", "Result")">@ViewBag.Lang["home-results"] @DateTime.Now.Year</a></h5>
        <div>
            <table>
                <tr><td>@ViewBag.Lang["home-meczy"]:</td><td>@(Model.Team.won(DateTime.Now.Year) + Model.Team.lost(DateTime.Now.Year))</td></tr>
                <tr><td>@ViewBag.Lang["home-wygranych"]:</td><td>@Model.Team.won(DateTime.Now.Year)</td></tr>
                <tr><td>@ViewBag.Lang["home-przegranych"]:</td><td>@Model.Team.lost(DateTime.Now.Year)</td></tr>
            </table>
        </div>
    </div>
    <div>
        <h5>@ViewBag.Lang["home-1procent"]</h5>
        <a href="@Url.Action("Percent", "Home")">
            <img src="@Url.Content("~/Content/images/percent.png")" />
        </a>
    </div>
    <div>
        <h5><a href="http://www.facebook.com/WarsawDiamonds" target="_blank">Diamonds na Facebooku</a></h5>
        <div class="fb-like" data-href="http://www.facebook.com/WarsawDiamonds" data-width="240" data-layout="standard" data-action="like" data-show-faces="true" data-share="false"></div>
    </div>
    <div class="sponsor">
        <h5>Sponsorzy</h5>
        <ul>
            <li>
                <a href="http://www.javacoffee.pl/" target="_blank" title="Java Coffee Company">
                    <img src="@Url.Content("~/Content/images/logos/JCC.png")" />
                </a>
            </li>
            <li>
                <a href="https://www.um.warszawa.pl/" target="_blank" title="Zakochaj się w Warszawie">
                    <img src="@Url.Content("~/Content/images/logos/warszawa.png")" />
                </a>
            </li>
            <li>
                    <img src="@Url.Content("~/Content/images/logos/mokotow.png")" />
            </li>
        </ul>
    </div>
</aside>

<article class="widget-gallery">
    <article class="widget-flow">
        <div>
            <h5>@ViewBag.Lang["home-ostatnie-galerie"]</h5>
            @foreach (var gallery in Model.Galleries)
            {
            <a href="@Url.Action("Photos", "Gallery", new { id = gallery.id })">
                <img src="@Url.Action("Photo", "Gallery", new { id = gallery.photoId, size = "small" })" />
            </a>
            }
        </div>
    </article>
    <aside class="widget-flow">
        <div>
            <h5>@ViewBag.Lang["home-losowe-zdjecie"]</h5>
            <a href="@Url.Action("Photo", "Gallery", new { id = Model.FeaturedPhoto.id })" class="fancybox">
                <img src="@Url.Action("Photo", "Gallery", new { id = Model.FeaturedPhoto.id, size = "small" })" />
            </a>
        </div>
    </aside>
</article>
