@model Diamonds.Models.HomeModel
@{
    ViewBag.Title = "Strona główna";
}

@section scripts {
@Styles.Render("~/Content/themes/base/css")
@Scripts.Render("~/bundles/jqueryui")
<script type="text/javascript">
    $(document).ready(function () {
        $(".featured div a").hover(function () {
        });
        if (cdReadCookie("diamonds-lang") != "en") {
            $(".calendar").datepicker($.datepicker.regional['pl']);
        }
        else
            $(".calendar").datepicker();

        $(".list-of-news a").hover(function () {
            $(this).parent().parent().children("img").hide();
            $(this).parent().find("a").css("text-decoration", "none");
            var s = $(this).data("newsid");
            $("#" + s).show();
            $(this).css("text-decoration", "underline");
        });
    });
</script>
}

<article class="featured content-wrapper">
    <div>
        <h5>@Html.ActionLink(Model.FeaturedNews.title, "Index", "News", new { id = Model.FeaturedNews.id }, null) </h5>
        @if (Model.FeaturedNews.Photo != null)
        {
        <img src="@Url.Action("Photo", "Gallery", new { id = Model.FeaturedNews.photoId, size = "small" })" />
        <div>@Html.Raw(Model.FeaturedNews.text.Length > 500 ? Model.FeaturedNews.text.Substring(0, 500) : Model.FeaturedNews.text)</div>
        }
        else 
        {
        <p>@Html.Raw(Model.FeaturedNews.text.Length > 500 ? Model.FeaturedNews.text.Substring(0, 500) : Model.FeaturedNews.text)</p>
        }
    </div>
    <div>
        <h5>@Html.ActionLink("Aktualności", "Index", "News")</h5>
        @* Jest taki pomysł, żeby po najechaniu linku zmieniał się obrazek po lewej, jeśli brak obrazka, jakiś domyślny *@
        @foreach (var item in Model.News)
        {
        <img src="@Url.Action("Photo", "Gallery", new { id = item.photoId, size = "small" })" id="@item.id" />
        }
        <div class="list-of-news">
            @foreach (var item in Model.News)
            {
            @Html.ActionLink(item.title, "Details", "News", new { data_newsid = item.id })
            }
        </div>
    </div>
</article>

<aside class="widget">
    <div class="calendar"></div>
    <div>
        <h5>Wyniki</h5>
        <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
    </div>
    <div>
        <h5>1% na Diamonds</h5>
        <p>Oddaj jeden procent</p>
    </div>
    <div>
        <h5>Diamonds na Facebooku</h5>
        <div></div>
    </div>
</aside>

<article class="widget-gallery">
    <article class="widget">
        <div>
            <h5>Ostatnio dodane galerie zdjęć</h5>
            @foreach (var gallery in Model.Galleries)
            {
            <a href="@Url.Action("Photos", "Gallery", new { id = gallery.id })"><img src="@Url.Action("Photo", "Gallery", new { id = gallery.coverId, size = "small" })" /></a>
            }
        </div>
    </article>
    <aside class="widget">
        <div>
            <h5>Losowe zdjęcie</h5>
            <img src="@Url.Action("Photo", "Gallery", new { id = Model.FeaturedPhoto.id, size = "small" })" />
        </div>
    </aside>
</article>