<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - Warsaw Diamonds</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/default")
        @Scripts.Render("~/bundles/default")
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/fancybox")
        @Styles.Render("~/Content/fancybox/css")
        @RenderSection("scripts", required: false)
        @if (Request.Url.Host == "softball.pl")
        {
        <script src="@Url.Content("~/Scripts/analytics.js")"></script>
        }
    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <div class="language float-left">
                    <a href="#"><img src="@Url.Content("~/Content/images/layout/lang-pl.png")" title="Zmień język na Polski" /></a>
                    <a href="#"><img src="@Url.Content("~/Content/images/layout/lang-en.png")" title="Change language to English" /></a>
                </div>
                <div class="float-left">
                    <p class="site-title"><a href="@Url.Action("Index", "Home", null)" title="@ViewBag.Lang["menu-strona-glowna"]"><img src="@Url.Content("~/Content/images/layout/logo.png")" /></a></p>
                </div>
                <div class="float-right">
                    <section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>
                    <nav>
                        <ul id="menu">
                            <li><a href="@Url.Action("Index", "Team")">@ViewBag.Lang["menu-druzyna"]</a>
                                <ul>
                                    <li><a href="@Url.Action("Recruitment", "Team")">@ViewBag.Lang["menu-rekrutacja"]</a></li>
                                    <li><a href="@Url.Action("History", "Team")">@ViewBag.Lang["menu-historia"]</a></li>
                                    <li><a href="@Url.Action("Index", "Team")">@ViewBag.Lang["menu-sklad"]</a></li>
                                    <li><a href="@Url.Action("Results", "Team")">@ViewBag.Lang["menu-wyniki"]</a></li>
                                    <li><a href="@Url.Action("Field", "Team")">@ViewBag.Lang["menu-boisko"]</a></li>
                                    <li><a href="@Url.Action("Docs", "Team")">@ViewBag.Lang["menu-dokumenty"]</a></li>
                                </ul>
                            </li>
                            <li><a href="@Url.Action("Index", "Gallery")">@ViewBag.Lang["menu-galeria"]</a></li>
                            <li>@Html.ActionLink("Softball", "Index", "Home")
                                <ul>
                                    <li><a href="@Url.Action("WhatIsSoftball", "Softball")">@ViewBag.Lang["menu-co-to-softball"]</a></li>
                                    @*<li><a href="@Url.Action("Index", "Home")">@ViewBag.Lang["menu-prezentacja-zasad"]</a></li>*@
                                    <li><a href="@Url.Action("Dictionary", "Softball")">@ViewBag.Lang["menu-slownik"]</a></li>
                                </ul>
                            </li>
                            <li><a href="@Url.Action("Sponsor", "Home")">@ViewBag.Lang["menu-sponsor"]</a>
                                <ul>
                                    <li><a href="@Url.Action("Offer", "Home")">@ViewBag.Lang["menu-oferta"]</a></li>
                                    <li><a href="@Url.Action("OnePercent", "Home")">@ViewBag.Lang["menu-jeden-procent"]</a></li>
                                </ul>
                            </li>
                            <li><a href="@Url.Action("Contact", "Home")">@ViewBag.Lang["menu-kontakt"]</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <div id="featured-photos">
            <ul>
                @foreach (var photo in ViewBag.Slider)
                {
                <li style="background-image:url('@Url.Action("Photo", "Gallery", new { id = photo.id, size = "big" })')">
                    <span style="background-image:url('@Url.Action("Photo", "Gallery", new { id = photo.id, size = "big" })')"><span></span></span>
                </li>
                }
            </ul>
        </div>
        <div id="body">
            <section class="message content-wrapper">
                @if (TempData["Message"] != null)
                {
                    <div class="message-success">@Html.Raw(TempData["Message"])</div>
                }
                @if (TempData["Error"] != null)
                {
                    <div class="message-error">@Html.Raw(TempData["Error"])</div>
                }
            </section>
            <section class="main-content content-wrapper clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - Warsaw Diamonds</p>
                </div>
            </div>
        </footer>


        <link href="@Url.Content("~/Content/jquery.bxslider.css")" rel="stylesheet" />
        <script src="@Url.Content("~/Scripts/jquery.bxslider.min.js")" type="text/javascript"></script>

        <script type="text/javascript">
            $(document).ready(function () {
                $("ul#menu li").hover(function () {
                    $(this).children('ul').hide();
                    $(this).children("ul").slideDown("fast");
                },
                function () {
                    $('ul', this).slideUp("fast");
                });

                $("#featured-photos ul").bxSlider({ randomStart: true });

                $(".language a:first-of-type").click(function (e) {
                    cdCreateCookie('diamonds-lang', 'pl', 365);
                    location.reload();
                });
                $(".language a:last-of-type").click(function (e) {
                    cdCreateCookie('diamonds-lang', 'en', 365);
                    location.reload();
                });
            });
        </script>

    </body>
</html>
