@model Diamonds.Models.NavigationModel

@*<script type="text/javascript">
    $(document).ready(function () {
        $("#window1").fancybox({
            maxWidth: 800,
            maxHeight: 600,
            fitToView: false,
            width: '70%',
            height: '70%',
            autoSize: false,
            closeClick: false,
            openEffect: 'none',
            closeEffect: 'none'
        });
    });
</script>*@

<ul id="site-nav">
    <li>@Html.ActionLink("Panel Administracyjny", "Index", "Profile")</li>
    <li>
        <a href="@Url.Action("Admin", Model.name)">@Model.name</a>
        <ul>
            @if (Model.name != "News") 
            {
            <li><a href="@Url.Action("Admin", "News")">News</a></li>
            }
            @if (Model.name != "Gallery") 
            {
            <li><a href="@Url.Action("Admin", "Gallery")">Gallery</a></li>
            }
            @if (Model.name != "Event")
            {
            <li><a href="@Url.Action("Admin", "Event")">Event</a></li>
            }
            @if (Model.name != "Result")
            {
            <li><a href="@Url.Action("Admin", "Result")">Result</a></li>
            }
            @if (Model.name != "Team")
            {
            <li><a href="@Url.Action("Admin", "Team")">Team</a></li>
            }
            @if (Model.name != "Localization")
            {
            <li><a href="@Url.Action("Admin", "Localization")">Localization</a></li>
            }
            @if (Model.name != "User" && User.IsInRole("ADMIN"))
            {
            <li><a href="@Url.Action("Admin", "User")">User</a></li>
            }
        </ul>
    </li>
    <li>@Model.page</li>
    @if (Model.createAction.Length > 9 && Model.createAction.Substring(0, 9) == "AddPhotos" && User.IsInRole(Model.permission))
    {
    <li class="site-nav-new"><a href="@Url.Action(Model.createAction, Model.name)" id="window1">Dodaj</a></li>
    }
    else if (User.IsInRole(Model.permission))
    {
    <li class="site-nav-new"><a href="@Url.Action(Model.createAction, Model.name)">Dodaj</a></li>
    }
</ul>