@{
    ViewBag.Title = "_Window";
    Layout = null;
}
<html>
    <head>
        @Styles.Render("~/Content/default")
        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
    </head>
    <body>
        <div id="body">
            @if (TempData["Message"] != null)
            {
                <div>@TempData["Message"]</div>
            }
            @RenderBody()
        </div>
    </body>
</html>
