@model Diamonds.Models.Entities.Result

@{
    string title = Model.id == 0 ? "Tworzenie" : "Edycja";
    ViewBag.Title = "Edit";
}

@section scripts{
@Styles.Render("~/Content/themes/base/css")
@Scripts.Render("~/bundles/jqueryui")
<script type="text/javascript">
    $(document).ready(function () {
        $("#eventDate").datepicker();
    });
</script>
}

@Html.Partial("_NavigationBar", new Diamonds.Models.NavigationModel("Result", title, "MODERATOR"))


@using (Html.BeginForm()) 
{
<fieldset>
    <legend>@title Wyników</legend>
    @Html.HiddenFor(m => m.id)

    <table class="edit purple">
        <tr>
            <td>
                @Html.LabelFor(m => m.teamHomeId, "Gospodarze")
                @Html.DropDownList("team1Id")
            </td>
            <td><br />
                @Html.TextBoxFor(m => m.resultHome, new { style = "width: 30px" })
            </td>
            <td><br />:</td>
            <td><br />
                @Html.TextBoxFor(m => m.resultGuest, new { style = "width: 30px" })
            </td>
            <td style="width: 100%">
                @Html.LabelFor(m => m.teamGuestId, "Goście")
                @Html.DropDownList("team2Id")
            </td>
        </tr>
        <tr>
            <td colspan="5">
                @Html.LabelFor(m => m.eventDate, "Data wydarzenia")
                @Html.TextBoxFor(m => m.eventDate)@Html.ValidationMessageFor(m => m.eventDate)
            </td>
        </tr>
        <tr>
            <td colspan="5"><input type="submit" value="Zapisz" /></td>
        </tr>
    </table>
</fieldset>
}
