@model IEnumerable<Diamonds.Models.Entities.Team>

@{
    int i = 1;
    ViewBag.Title = "Wyniki";
}

<fieldset>
    <legend>Wyniki PLSK</legend>

    <h5>Podsumowanie wyników PLSK w sezonie @DateTime.Now.Year</h5>
    <table class="purple" style="text-align: center;">
        <tr>
            <th>Lp.</th>
            <th style="width: 200px; text-align:center;">Drużyna</th>
            <th>M</th>
            <th>W</th>
            <th>P</th>
        </tr>

        @foreach (var item in Model)
        {
        <tr>
            <td>@(i++)</td>
            <td>@item.name</td>
            <td>@(item.won(DateTime.Now.Year) + item.lost(DateTime.Now.Year))</td>
            <td>@item.won(DateTime.Now.Year)</td>
            <td>@item.lost(DateTime.Now.Year)</td>
        </tr>
        }

    </table>
</fieldset>