@model IEnumerable<Diamonds.Models.Entities.Player>
@{
    ViewBag.Title = "Zawodnicy";
}

@section scripts{
<script type="text/javascript">
    $(document).ready(function () {
    });
</script>
<style type="text/css">

</style>
}

<h5>@ViewBag.Lang["player-zawodniczki"]</h5>

@foreach (var player in Model.Where(p => !p.Positions.Any(x => x.name == "T" || x.name == "M")))
{
<div class="player">
    <div class="wrapper">
    <a href="@Url.Action("Details", new { id = player.id })" class="l">
        @if (player.Photo != null)
        {
        <img src="@Url.Action("Photo", "Gallery", new { id = player.photoId, size = "small" })" />
        }
        else
        {
        <img src="@Url.Content("~/Content/images/player.png")" />
        }
    </a>
    <div class="desc">
        <span style="font-weight:bold;">@player.firstName @player.lastName</span><br />
        @if (!String.IsNullOrEmpty(player.nickName))
        {
        <span>@ViewBag.Lang["player-przezwisko"]:</span> <span style="font-weight:bold;">@player.nickName</span><br />
        }
        @if (player.Positions.Any())
        {
        <span>@ViewBag.Lang["player-pozycje"]:</span>
        }
        @foreach (var position in player.Positions)
        {
        <span title="@position.player" style="cursor:help">@position.name</span>
        }
    </div>
    </div>
</div>
}
<p></p>
<h5>Trenerzy i działacze</h5>
@foreach (var player in Model.Where(p => p.Positions.Any(x => x.name == "T" || x.name == "M")))
{
<div class="player t">
    <a href="@Url.Action("Details", new { id = player.id })">
        @if (player.Photo != null)
        {
        <img src="@Url.Action("Photo", "Gallery", new { id = player.photoId, size = "small" })" />
        }
        else
        {
        <img src="@Url.Content("~/Content/images/player.png")" />
        }
        <div>
            @player.firstName 
            @if (!String.IsNullOrEmpty(player.nickName))
            {
                <span>"@player.nickName"</span>
            }
            @player.lastName<br />
            @foreach (var position in player.Positions)
            {
                @position.player@: 
            }
        </div>
    </a>
</div>
}