@model IEnumerable<Diamonds.Models.Entities.Player>
@{
    ViewBag.Title = "Zawodnicy";
}

@section scripts{
<script type="text/javascript">
    $(document).ready(function () {
    });
</script>
}

<fieldset>
    <legend>@ViewBag.Lang["menu-sklad"]</legend>
    <div id="players">
        @foreach (var player in Model)
        {
        <a href="@Url.Action("Details", new { id = player.id })">
            @if (player.Photo != null)
            {
            <img src="@Url.Action("Photo", "Gallery", new { id = player.photoId, size = "small" })" />
            }
            else
            {
            <img src="@Url.Content("~/Content/images/player.png")" />
            }
            <div>
                @player.firstName "@player.nickName" @player.lastName<br />
                @foreach (var position in player.Positions)
                {
                    @position.name@: 
                }
            </div>
        </a>
        }
    </div>
    
</fieldset>