@model IEnumerable<Diamonds.Models.Entities.Event>
@{
    ViewBag.Title = "Wydarzenia";
}

@section scripts{
}

@foreach (var item in Model)
{
    <div>
        <div>@item.name</div>
        <div>@item.place</div>
        <div>@item.startDate.ToString("d MMMM HH:mm")</div>
        @(item.endDate != null ? "<div>" + item.endDate.ToString("d MMMM HH:mm") + "</div>" : "")
        <div>@item.EventType.name</div>
        @if (User.IsInRole("MODERATOR"))
        {
        <div>@Html.ActionLink("Edit", "Edit", new { id = item.id })</div>
        }
    </div>
}