@model IEnumerable<Diamonds.Models.Entities.Localization>
@{
    ViewBag.Title = "Localizations";
}

@Html.Partial("_NavigationBar", new Diamonds.Models.NavigationModel("Localization", "Lista", "ADMIN"))

<fieldset>
    <legend>Localizations</legend>

    <table class="purple">
        @{ var temp = ""; }
        @foreach (var item in Model)
        {
        if (temp != item.code.Split('-')[0])
        {
        temp = item.code.Split('-')[0];
        <tr>
            <th>@temp.ToUpper()</th>
            <th>pl</th>
            <th>en</th>
            <th></th>
        </tr>
        }
        <tr>
            <td>@item.code</td>
            <td>@(item.pl.Length > 100 ? item.pl.Substring(0, 100) : item.pl)</td>
            <td>@(item.en.Length > 100 ? item.en.Substring(0, 100) : item.en)</td>
            <td>@Html.ActionLink("Edit", "Edit", new { id = item.id })</td>
        </tr>
        }
    </table>
</fieldset>