@model Diamonds.Models.Entities.Localization
@{
    string title = Model.id == 0 ? "Tworzenie" : "Edycja";
    ViewBag.Title = title + " localization";
}

@section scripts{
<script type="text/javascript" src="@Url.Content("~/Scripts/tinymce/tinymce.min.js")"></script>
<script type="text/javascript">
    $(document).ready(function () {
        tinymce.init({
            selector: "textarea", statusbar: false, forced_root_block: "",
            //menubar: false,
            entity_encoding : "raw",
            force_br_newlines: true, force_p_newlines: false, oninit: "setPlainText",
            plugins: [
                "advlist autolink lists link image charmap print preview anchor",
                "searchreplace visualblocks code",
                "insertdatetime media contextmenu paste"
            ],
            toolbar: "insertfile undo redo | styleselect | bold italic underline | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link @*image*@"

        });
    });
</script>
}

@Html.Partial("_NavigationBar", new Diamonds.Models.NavigationModel("Localization", title, "ADMIN"))

@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl })) 
{
<fieldset>
    <legend>@title Lokalizacji</legend>
    @Html.HiddenFor(m => m.id)

    <table class="edit purple">
        <tr>
            <td>@Html.LabelFor(m => m.code, "Nazwa")</td>
            <td>
                @if (User.IsInRole("ADMIN"))
                {
                @Html.EditorFor(m => m.code) 
                } else {
                @Html.DisplayFor(m => m.code) @Html.HiddenFor(m => m.code)
                }
                @Html.ValidationMessageFor(m => m.code)</td>
        </tr>
        <tr>
            <td colspan="2" style="width: 50%">@Html.LabelFor(m => m.pl, "Treść PL")
                @Html.TextAreaFor(m => m.pl) @Html.ValidationMessageFor(m => m.pl)</td>
            <td colspan="2" style="width: 50%">@Html.LabelFor(m => m.en, "Treść EN")
                @Html.TextAreaFor(m => m.en) @Html.ValidationMessageFor(m => m.en)</td>
        </tr>
    </table>
    <table class="edit">
        <tr>
            <td colspan="2"><input type="submit" value="Zapisz" /></td>
        </tr>
    </table>
</fieldset>
}
