@model Diamonds.Models.LocalPasswordModel

<p>
    You do not have a local password for this site. Add a local
    password so you can log in without an external login.
</p>

@using (Html.BeginForm("Edit", "Profile")) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Set Password Form</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.NewPassword, (string)ViewBag.Lang["login-nowe-haslo"])
                @Html.PasswordFor(m => m.NewPassword)
                @Html.ValidationMessageFor(m => m.ConfirmPassword, (string)ViewBag.Lang["login-za-krotkie-haslo"])
            </li>
            <li>
                @Html.LabelFor(m => m.ConfirmPassword, (string)ViewBag.Lang["login-nowe-haslo"])
                @Html.PasswordFor(m => m.ConfirmPassword)
                @Html.ValidationMessageFor(m => m.ConfirmPassword, (string)ViewBag.Lang["login-hasla-nie-sa-takie-same"])
            </li>
        </ol>
        <input type="submit" value="Set password" />
    </fieldset>
}
