@model Diamonds.Models.LocalPasswordModel
@{
    ViewBag.Title = "Edit";
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<p>@ViewBag.Lang["login-zalogowany-jako"] <strong>@User.Identity.Name</strong>.</p>

@*@if (ViewBag.HasLocalPassword)
{*@
    @Html.Partial("_ChangePasswordPartial")
@*}
else
{ 
    @Html.Partial("_SetPasswordPartial")
}*@

@*<section id="externalLogins">
    @Html.Action("RemoveExternalLogins")

    <h3>Add an external login</h3>
    @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
</section>*@

