@{
    ViewBag.Title = "Profil";
}

<div class="left-menu">
    <ul>
        <li><a href="@Url.Action("Index")">Profil</a>
            <ul>
                <li><a href="@Url.Action("Edit")">Edytuj profil</a></li>
            </ul>
        </li>
    </ul>
    @if (User.IsInRole("MODERATOR"))
    {
    <h4>Panel Administracyjny</h4>
    <ul>
        <li><a href="@Url.Action("Admin", "News")">Aktualności</a></li>
        <li><a href="@Url.Action("Admin", "Gallery")">Galeria</a></li>
        <li><a href="@Url.Action("Admin", "Event")">Wydarzenia</a></li>
        <li><a href="@Url.Action("Admin", "Result")">Wyniki</a></li>
        <li><a href="@Url.Action("Admin", "Team")">Zawodnicy</a></li>
        <li><a href="@Url.Action("Admin", "Localization")">Lokalizacje</a></li>      
        @if (User.IsInRole("ADMIN"))
        {
        <li>@Html.ActionLink("Użytkownicy", "Admin", "User")</li>
        }
    </ul>
    }
</div>
 Tutaj będzie centrum wiadomości, ostatnich komentarzy.<br />
Dla użytkowników i Diamentów mogą być polecane strony do obejrzenia.