@{
    ViewBag.Title = "Profil";
}

<div class="left-menu">
    <ul>
        <li><a href="@Url.Action("Index")">Profil</a>
            <ul>
                <li><a href="@Url.Action("Edit")">Edytuj profil</a></li>
            </ul>
        </li>
    </ul>
    @if (User.IsInRole("MODERATOR"))
    {
    <h4>Panel Administracyjny</h4>
    <ul>
        <li><a href="@Url.Action("Index", "News")">Aktualności</a>
            <ul>
                <li><a href="@Url.Action("Create", "News")">Dodaj nową aktualność</a></li>
            </ul>
        </li>
        <li><a href="@Url.Action("Admin", "Gallery")">Galeria</a>
            <ul>
                <li><a href="@Url.Action("Create", "Gallery")">Dodaj galerię</a></li>
            </ul>
        </li>
        <li><a href="@Url.Action("Index", "Event")">Wydarzenia</a>
            <ul>
                <li><a href="@Url.Action("Create", "Event")">Utwórz wydarzenie</a></li>
            </ul>
        </li>
        <li><a href="@Url.Action("Admin", "Team")">Zawodnicy</a>
            <ul>
                <li><a href="@Url.Action("Create", "Team")">Dodaj zawodnika</a></li>
            </ul>
        </li>
        <li>@Html.ActionLink("Localizacje", "Localizations", "Home")
            @if (User.IsInRole("ADMIN"))
            {
            <ul>
                <li>@Html.ActionLink("Dodaj Lokalizację", "LocalizationCreate", "Home")</li>
            </ul>
            }
        </li>
                
        @if (User.IsInRole("ADMIN"))
        {
        <li>@Html.ActionLink("Użytkownicy", "Index", "User")</li>
        }
    </ul>
    }
</div>
 Tutaj będzie centrum wiadomości, ostatnich komentarzy.<br />
Dla użytkowników i Diamentów mogą być polecane strony do obejrzenia.