@model Diamonds.Models.LoginModel
@{
    ViewBag.Title = ViewBag.Lang["login-tytul"];
}

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
<script type="text/javascript">
    $(document).ready(function () {
        $("#reset-link").click(function (e) {
            e.preventDefault();
            $("#resetPassword").val($("#Email").val());
            $("#reset-password").slideDown();
        });
        $("#send-reset-link").click(function (e) {
            e.preventDefault();
            $.post("/Profile/RemindPassword/?email=" + $("#resetPassword").val(), null,
                function () {
                    $("#reset-password").slideUp();
                    $("#reset-link").hide();
                    $("#reset-confirm").show();
                });
        });
    });
</script>
}

<section id="loginForm">
@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl })) {
    @Html.AntiForgeryToken()<link href="~/Content/Site.css" rel="stylesheet" />
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>@ViewBag.Lang["login-tytul"]</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.Email, (string)ViewBag.Lang["login-mail"])
                @Html.TextBoxFor(m => m.Email)
                @Html.ValidationMessageFor(m => m.Email)
            </li>
            <li>
                @Html.LabelFor(m => m.Password, (string)ViewBag.Lang["login-haslo"])
                @Html.PasswordFor(m => m.Password)
                @Html.ValidationMessageFor(m => m.Password, (string)ViewBag.Lang["login-haslo"])
            </li>
            <li>
                @Html.CheckBoxFor(m => m.RememberMe)
                @Html.LabelFor(m => m.RememberMe, (string)ViewBag.Lang["login-pamietaj"], new { @class = "checkbox" })
            </li>
        </ol>
        <input type="submit" value="@ViewBag.Lang["login-zaloguj"]" />
        <p>
            @Html.ActionLink((string)ViewBag.Lang["login-zarejestruj"], "Register") @ViewBag.Lang["login-nie-masz-konta"]
        </p>
    </fieldset>
    
    <br />
    <a id="reset-link" href="#">Nie pamiętasz hasła?</a>
    <div id="reset-confirm" style="display:none; color:#046900">Wiadomość e-mail została wysłana.</div>
    <div id="reset-password" style="display:none;">
        Podaj swój adres e-mail:<br />
        @Html.TextBox("resetPassword")
        <a href="#" id="send-reset-link">Wyślij</a>
    </div>
}
</section>

@*<section class="social" id="socialLoginForm">
    <h2>Use another service to log in.</h2>
    @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
</section>*@