@model Diamonds.Models.RegisterModel
@using BotDetect.Web.UI.Mvc;
@{
    ViewBag.Title = ViewBag.Lang["login-rejestracja"];
}

@section scripts {
    <link href="@BotDetect.Web.CaptchaUrls.Absolute.LayoutStyleSheetUrl" rel="stylesheet" type="text/css" />
    @Scripts.Render("~/bundles/jqueryval")
}

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true, (string)ViewBag.Lang["login-nieudana-rejestracja"])
    <div>
        <fieldset>
            <legend>@ViewBag.Lang["login-zaloz-konto"]</legend>

            <div class="editor-label">
                @Html.LabelFor(m => m.UserName, (string)ViewBag.Lang["login-login"])
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(m => m.UserName)
                @Html.ValidationMessageFor(m => m.UserName)
            </div>

            <div class="editor-label">
                @Html.LabelFor(m => m.Email, (string)ViewBag.Lang["login-mail"])
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(m => m.Email)
                @Html.ValidationMessageFor(m => m.Email)
            </div>

            <div class="editor-label">
                @Html.LabelFor(m => m.Password, (string)ViewBag.Lang["login-haslo"])
            </div>
            <div class="editor-field">
                @Html.PasswordFor(m => m.Password)
                @Html.ValidationMessageFor(m => m.Password, (string)ViewBag.Lang["login-za-krotkie-haslo"])
            </div>

            <div class="editor-label">
                @Html.LabelFor(m => m.ConfirmPassword, (string)ViewBag.Lang["login-potwierdzenie-hasla"])
            </div>
            <div class="editor-field">
                @Html.PasswordFor(m => m.ConfirmPassword)
                @Html.ValidationMessageFor(m => m.ConfirmPassword, (string)ViewBag.Lang["login-hasla-nie-sa-takie-same"])
            </div>

            <div class="editor-label">
                <label>@ViewBag.Lang["login-przepisz-tekst"]</label>
            </div>
            <div class="editor-field">
                @{ MvcCaptcha sampleCaptcha = new MvcCaptcha("SampleCaptcha"); }
                @Html.Captcha(sampleCaptcha)
                @Html.TextBox("CaptchaCode")
            </div>

            <p>
                <input type="submit" value="@ViewBag.Lang["login-zarejestruj"]" />
            </p>
        </fieldset>
    </div>
}
